<section>
  <span id="message"></span>
  <section id="oauth-providers">
    <a id="social-fb" class="social" href="#" data-provider="facebook">    </a>
    <a id="social-gp" class="social" href="#" data-provider="google_plus"> </a>
    <a id="social-in" class="social" href="#" data-provider="linkedin">    </a>
  </section>
</section>